---
default_language_version:
  python: python3
exclude: "^.github.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.md$
      - id: end-of-file-fixer
      - id: debug-statements
      - id: no-commit-to-branch
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: check-merge-conflict

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.12.0
    hooks:
      - id: gitlint

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.19.0
    hooks:
      - id: yamllint

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.19.0
    hooks:
      - id: markdownlint
        language_version: system

  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config

  - repo: https://github.com/timothycrosley/isort
    rev: 4.3.21
    hooks:
      - id: isort
        # extra dependencies for config in pyproject.toml
        additional_dependencies: ["isort[pyproject]"]

  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
      - id: pylint
        exclude: ^(docs/).*$
        # disabled import-error as may be run out of environment with deps
        args: ["--disable=import-error", "--rcfile=.pylintrc"]

  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.0.1
    hooks:
      - id: pydocstyle
        args:
          [
            "--ignore=D100,D103,D104,D105,D107,D203,D211,D213,D401,D407,D413,D416",
          ]
